body {
	background-image: url("pozadina.jpg"); 
} 

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}


ol {
    display: block;
    list-style-type: lower-roman;
}

p, ol, ul {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}

.float-right {
    float: right;
    margin: 0 0 20px 20px; 
    max-width: 300px; 
    height: auto;
}

h1, h2, h3 {
    color: rgb(255,255,255);
    padding: 10px;
    text-align: center;
    -webkit-text-stroke: 1px #ff69b4;
    text-shadow: 2px 2px 5px deeppink;
    font-family: 'LibreBaskerville-Italic', serif;
}

p::first-letter {
    font-size: 150%;
    color: rgb(221, 175, 10);
}

div > p {
    background-color: rgb(255, 220, 116);
    text-align: center;
    outline: 4px solid rgb(223, 180, 10);
    color: rgb(254, 252, 239);
}

form, table  {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    border-radius: 15px;
    margin: 0 auto;
}
form {
    width: 500px;
    padding: 20px;
}

table {
    width: 700px;
    border-collapse: collapse;
}

th, td {
  border: 2px solid #ff69b4;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #ffb6d1;
}

tr:nth-child(even) {
  background-color: #fff0f8;
}

#naslov-galerije {
    text-align: center;
    margin-bottom: 20px;
}

.galerija {
    display: flex;           
    gap: 20px;
    margin: 0 auto;
    width: 70%;
}

.kartica {
    flex: 1;
    padding: 10px;
    background-color: rgb(255, 207, 218);
    border: 4px solid rgb(255, 173, 201);
    text-align: center;      
    position: relative;
    max-width: 400px;      
    float: center;           
}

.galerija .kartica p {
    vertical-align: top;     
    margin-top: 10px;
}

.era1 { top: 0; }
.era2 { bottom: 5px; }
.era3 { right: 3px; }

.galerija::after {
    content: "";
    display: block;
    clear: both;             
}

.kartica:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#slika1, #slika2, #slika4 {
    margin: 20px auto;
    width: 388px !important;
    height: auto;
    border: 5px solid hotpink;
    border-radius: 15px;
}

#slika3 {
    margin: 20px auto;
    width: 690px !important;
    height: auto;
    border: 5px solid hotpink;
    border-radius: 15px;
}

#slika4 {
    display: block;
    margin: 0 auto;
}

embed {
    display: block;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 5px solid hotpink;
    border-radius: 15px;
}

@media (max-width: 600px) {

    h1 { font-size: 28px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }

    p, ul, ol {
        font-size: 14px;
        width: 95%;
        line-height: 1.3;
        margin: 8px auto;
    }

    img {
        width: 95%;
        height: auto;
        margin: 8px auto;
    }

    .kartica {
        width: 95%;
        padding: 6px;
    }

    th, td {
        padding: 4px;
    }

    embed, iframe{
        width: 100%;
        height: auto;
    }
}