body {
	background-image: url("pozadina.jpg"); 
} 

h1 {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-family: 'LibreBaskerville-Italic', serif;
    -webkit-text-stroke: 2px #ff69b4;
    font-size: 50px;
}

p {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    width: 700px;
    margin: 0 auto;
    border-radius: 15px;
}

h2 {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-family: 'LibreBaskerville-Italic', serif;
    -webkit-text-stroke: 2px #ff69b4;
    font-size: 35px;
}

h3 {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-family: 'LibreBaskerville-Italic', serif;
    -webkit-text-stroke: 1px #ff69b4;
    font-size: 28px;
}


ol {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    width: 600px;
    margin: 0 auto;
    display: block;
    list-style-type: lower-roman;
    border-radius: 15px;
}

ul {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}

.float-right {
    float: right;
    margin: 0 0 20px 20px; 
    max-width: 300px; 
    height: auto;
}

h1, h2, h3 {
  text-shadow: 2px 2px 5px deeppink;
}

p::first-letter {
    font-size: 150%;
    color: deeppink;
}

div > p {
    background-color: rgb(252, 185, 212);
    text-align: center;
    outline: 2px solid deeppink;
    color: deeppink;
}

form {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

table {
    background-color: rgb(255, 223, 236);
    color: hotpink;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'LibreBaskerville-Italic', serif;
    width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    border-collapse: collapse;
}

th, td {
  border: 2px solid #ff69b4;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ffb6d1;
}

tr:nth-child(even) {
  background-color: #fff0f8;
}